{
  "extends": "airbnb-base",
  "rules": {
    "func-names": ["error", "never"],
    "object-curly-newline": ["error", { "ObjectPattern": { "multiline": true } }],
    "max-len": ["error", { "code": 200 }],
    "no-console": "off",
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": false }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
